{% extends 'base.html.twig' %}

{% block title %}Hello MovieController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>{{ movie.title }}</h1>

    <img class="float-end" src="{{ movie.poster }}" />
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Id : {{ movie.id }}</li>
        <li class="list-group-item">Country : {{ movie.country }}</li>
        <li class="list-group-item">Released At : {{ movie.releasedAt|date('d M Y') }}</li>
        <li class="list-group-item">Genres : {{ movie.genres|join(', ') }}</li>
        <li class="list-group-item">Plot : {{ movie.plot }}</li>
    </ul>
</div>
{% endblock %}
